@import '../../assets/styles/typography';

.posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 80rem;
    margin: auto;
}

.post {
    display: block;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 10px;
    background-color: #4e5c68;
    width: calc(20% - 10px);
    color: white;
    transition: all .2s;
    text-decoration: none;

    h3, p {
        font-family: $bodyFont;
    }

    &:hover {
        transform: scale(1.1);
        border: 2px solid mediumvioletred;
    }
}

.oldPosts {
    display: flex;
}