@import '../../../assets/styles/typography';

.menu {
    display: flex;
}

.list {
    display: flex;
    list-style-type: none;
}

.item {
    color: white;
    margin-right: 16px;
}

.link {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: $bodyFont;

  &:hover {
      color: darken(white, 30%);
      text-decoration: underline;
  }
}