@import '../../../assets/styles/typography';

.menu {
    display: flex;
}

.list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.item {
    color: white;
    margin-right: 16px;
}

.link {
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  font-family: $bodyFont;

  &:hover {
      color: mediumvioletred;
      text-decoration: underline;
  }
}