@import '../../assets/styles/typography';
@import '../../assets/styles/variables';


.card {
    display: block;
    background-size: cover;
    background-color: rgb(21, 35, 90);
    width: 300px;
    height: 300px;
    border-radius: 16px;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

.title {
    font-family: $bodyFont;
    font-size: 30px;
    font-weight: 400;
}

.description {
    opacity: 0;

    &.fadeOut {
        animation: fadeOut 0.15s ease-out;
    }

    &.fadeIn {
        opacity: 1;
        animation: fadeIn 0.25s ease-in;
    }

/* Move it (define the animation) */
@keyframes fadeIn {
    0%   { 
    transform: translateY(60%);
    opacity: 0;		
    }
    100% { 
    transform: translateY(0%); 
    opacity: 1;
    }
}

/* Move it (define the animation) */
@keyframes fadeOut {
    100%   { 
    transform: translateY(60%);
    opacity: 1;	
    }
    0% { 
    transform: translateY(0%);
    opacity: 0;
    }
}
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h2, p {
        color: $white;
        font-family: $bodyFont;
        text-shadow: 2px 2px 6px black;
        margin: 0;
    }
}