.header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: baseline;
    background-color: transparent;
    width: 100%;
    height: 100px;
    color: white;
}