@import '../../../src/assets/styles/variables.scss';
@import '../../../src/assets/styles/typography.scss';

.header {
  width: 100%;
  padding: 3rem 0 0 0;
  
  .content {
    max-width: $pageWidthMax;
    position: relative;
    width: 100%;
    color: white;
    margin: auto;
    z-index: 2;
    padding: 0;

    @media screen and (min-width: 500px) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
}

.logo {
  font-family: $bodyFont;
  font-weight: 600;
  font-size: 35px;
  margin: 0;
  color: white;

  &:hover {
    cursor: pointer;
    color: lighten(mediumvioletred, 30%);
  }

  &:focus {
    border: 1px solid lighten(mediumvioletred, 20%);
  }
}