@import '../../../src/assets/styles/variables';
@import '../../../src/assets/styles/typography';

.footer {
  display: block;
  width: 100%;
  margin-top: 40px;
}

.inner {
  display: flex;
  max-width: $pageWidthMax;
  margin: auto;
  padding: 50px 0;
}

.copyright {
  color: white;
  font-family: $bodyFont;
}
