@import '../../../src/assets/styles/variables';
@import '../../../src/assets/styles/typography';

.footer {
  display: flex;
  max-width: $pageWidthMax;
  margin: auto;
  background-color: #162127;
}

.copyright {
  color: white;
  font-family: $bodyFont;
}
